* {
    background-color: #8b7e66;
    color: #5a3e36;
    font-weight: bold;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #8b7e66;
    color: #5a3e36;
    margin: 0;
    padding: 0;
}

body * {
    background-color: #fdf5e6;
    color: #5a3e36;
}

header * {
    background-color: #5a3618;
    color: #d4af37;
}

header {
    background-color: #5a3618;
    color: #d4af37;
    text-shadow: #a08428;
    padding: 10px;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.2);
}

header h1 {
    color: #d4af37;
    text-shadow: #a08428;
}

.left-side {
    margin-left: 10px;
}

.right-side {
    margin-right: 10px;
}

.center {
    text-align: center;
    align-self: center;
}

header .left-side, header .right-side {
    display: flex;
    align-items: center;
    min-width: 20%;
}

header .right-side span {
    margin-right: 10px;
    color: #d4af37;
}

header button {
    background-color: #d4af37;
    color: #5a3e36;
    width:fit-content;
}

header button:hover {
    background-color: #e0bd47;
    color: #5a3e36;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fdf5e6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

button {
    background-color: #6d421f;
    color: #fdf5e6;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.2);
    width: fit-content;
}

button:hover {
    background-color: #7a4b24;
}

#family-tree {
    margin-top: 20px;
    text-align: center;
}

h1, h2 {
    text-align: center;
    color: #5a3e36;
}

form {
    margin: 10px;
}

.form-grid {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
    justify-content: center;
}

label, select {
    margin: 5px;
    font-weight: bold;
}

select {
    background-color: #8b7e66;
    padding: 5px;
    border-radius: 5px;
    color: black;
    margin: 10px;
}

label {
    margin-right: 15px;
    text-align: right;
    width: 150px;
    display: inline-block;
    clear: both;
}

input {
    background-color: #8b7e66;
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    text-align: left;
}

select, input, button {
    border: none;
    width: max-content;
    cursor: pointer;
}

.family-tree {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.node {
    border: 2px solid #007bff;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s;
}

.node:hover {
    transform: scale(1.05);
}

#family-tree {
    margin-top: 20px;
    text-align: center;
}

.family-tree-node {
    display: flex;
    flex-direction: column;
    column-width: auto;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 0px;
    align-self: baseline;
    height: 100%; /* Ensure the node takes up full height */
}

.parents {
    display: flex;
    column-width: auto;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.child {
    display: flex;
    justify-content: center;
}

.person {
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
}

.family-tree-node:only-child .family-tree-node {
    margin: auto;
    margin-bottom: 0px;
}

.family-tree-node:only-child .person {
    margin-top: auto;
}

.person img.portrait {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.portrait {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.children {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

hr {
    border: 0;
    height: 1px;
    background-color: #5a3e36;
    margin: 20px 0;
}


.context-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    text-align: left;
}

.context-menu button {
    border-radius: 0px;
    font-weight: normal;
    width: 100%;
}

.relatives-list {
    text-align: left;
}