<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_user_id" th:content="${loggedUserId}">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Edit Person Details</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <div class="left-side">
            <button onclick="window.location.href='/fam-tree';">Back to Family Tree</button>
        </div>
        <div class="center">
            <h1>Edit Person Details</h1>
        </div>
        <div class="right-controls">
            <span th:text="${loggedUsername}"></span>
            <button onclick="logout()">Logout</button>
        </div>
    </header>

    <div class="content">
        <img src="/images/portrait-male.webp" alt="Portrait" class="portrait" />
        <form id="editPersonForm">
            <div class="form-grid">
                <input type="number" id="id" name="id" required hidden th:value="${person.id}">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" required th:value="${person.firstName}">
                <label for="middleName">Middle Name:</label>
                <input type="text" id="middleName" name="middleName" th:value="${person.middleName}">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" required th:value="${person.lastName}">
                <label for="birthDate">Birth Date:</label>
                <input type="date" id="birthDate" name="birthDate" th:value="${person.birthDate}">
                <label for="deathDate">Death Date:</label>
                <input type="date" id="deathDate" name="deathDate" th:value="${person.deathDate}">
                <label for="gender">Gender:</label>
                <select id="gender" name="gender" required>
                    <option value="MALE"   th:selected="${person.gender?.name()} == 'MALE'">Male</option>
                    <option value="FEMALE" th:selected="${person.gender?.name()} == 'FEMALE'">Female</option>
                    <option value="OTHER"  th:selected="${person.gender?.name()} == 'OTHER'">Other</option>
                </select>
                <label for="portrait">Portrait:</label>
                <input type="file" id="portrait" name="file" accept="image/*" required>
            </div>
            <button type="button" onclick="editPerson()">Submit</button>
        </form>
    </div>

    <script src="js/scripts.js"></script>
</body>
</html>