<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_user_id" th:content="${loggedUserId}">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Family Tree</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <div class="left-side">
        </div>
        <div class="center">
            <h1>Family Tree</h1>
        </div>
        <div class="right-side">
            <span th:text="${loggedUsername}"></span>
            <button onclick="logout()">Logout</button>
        </div>
    </header>
    <div class="content">
        <div class="controls">
            <button onclick="window.location.href = '/add-person';">Add New Family Member</button>
            <form id="root-person-form" class="right-side" style="display: flex; align-items: center; border-color: #5a3e36; border: 2px;">
                <label for="root-person-select-id" style="margin-right: 10px; text-align: right;">Root Person:</label>
                <select id="root-person-select-id" name="id" required onchange="setRootPerson()">
                    <option th:each="person: ${persons}"
                        th:value="${person.id}" th:text="${person.firstName} + ' ' + ${person.lastName}"
                        th:selected="${person.id} == ${rootPerson.id}">
                    </option>
                </select>
            </form>
        </div>
        <hr>
        <div id="family-tree" th:utext="${familyTreeHtml}"></div>
    </div>

    <script src="js/scripts.js"></script>
</body>
</html>