<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_user_id" th:content="${loggedUserId}">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Family Tree</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Family Tree</h1>
        <div style="align-items: center;">
            <button id="add-person-btn" type="button" onclick="window.location.href = '/add-person';">Add New Family Member</button>
            <br><br>
            <form id="root-person-form">
                <label for="id">Root Person:</label>
                <select id="root-person-select-id" name="id" required onchange="setRootPerson()">
                    <option th:each="person: ${persons}"
                        th:value="${person.id}" th:text="${person.firstName} + ' ' + ${person.lastName}"
                        th:selected="${person.id} == ${rootPerson.id}">
                    </option>
                </select>
            </form>
        </div>
        <div id="family-tree" th:utext="${familyTreeHtml}"></div>
    </div>

    <script src="js/scripts.js"></script>
</body>
</html>