<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person Details</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <a href="/fam-tree" class="back-button">Back to Family Tree</a>
    </header>
    <div class="person-details">
        <img src="/images/portrait-male.webp" alt="Portrait" class="portrait" />
        <h1 th:text="${person.firstName} + ' ' + (${person.middleName}?: '') + ' ' + ${person.lastName}"></h1>
        <i><p th:text="(${#temporals.format(person.birthDate, 'dd.MM.yyyy')}?: '?') + ' - ' + (${#temporals.format(person.deathDate, 'dd.MM.yyyy')}?: '?')"></p></i>
        <p><span th:text="${person.gender}"></span></p>
    </div>
</body>
</html>